.calendar-container {
  width: 30rem;
  background-color: #ffffff;
}

.dark .calendar-container {
  width: 30rem;
  background-color: #1b1b1b;
}

.custom-calendar {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  border-color: #eeeeee;
  border-radius: 0.8rem;
}

.custom-calendar .react-calendar__navigation {
  height: 3rem;
}

.custom-calendar .react-calendar__navigation__label__labelText {
  font-size: 1.4rem;
}

.custom-calendar .react-calendar__navigation button {
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.custom-calendar .react-calendar__navigation button:hover,
.custom-calendar .react-calendar__navigation .react-calendar__navigation__label:hover {
  color: #0b3b2d;
}

.custom-calendar .react-calendar__navigation button:disabled {
  background: none;
  color: #cccccc;
  cursor: not-allowed;
}

.custom-calendar .react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}

.custom-calendar .react-calendar__month-view__weekdays .react-calendar__month-view__weekdays__weekday {
  font-size: 1.3rem;
  color: #4b4b4b;
}

.custom-calendar .react-calendar__month-view__days {
  font-size: 1.4rem;
  font-weight: 600;
}

.custom-calendar .react-calendar__month-view__days .react-calendar__tile {
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  color: #4b4b4b;
}

.custom-calendar .react-calendar__month-view__days .react-calendar__tile:hover {
  background: #ced8d5;
}

.custom-calendar .react-calendar__month-view__days .react-calendar__tile:focus {
  background: #0b3b2d;
}

.custom-calendar .react-calendar__month-view__days .react-calendar__tile:disabled {
  background: #fff;
  color: #9c9c9c;
  cursor: not-allowed;
  font-weight: 400;
}

.custom-calendar .react-calendar__month-view__days__day {
  width: 3.5rem;
  height: 3.2rem;
}

.custom-calendar .react-calendar__month-view__days .react-calendar__tile:active {
  background: #ffffff;
}

.custom-calendar .react-calendar__month-view__days .react-calendar__tile--now {
  background: #ced8d5;
  color: #0b3b2d;
  font-weight: 800;
}

.custom-calendar .react-calendar__month-view__days .react-calendar__tile--active {
  background: #0b3b2d;
  color: #ffffff;
}

.custom-calendar .react-calendar__month-view__days .react-calendar__tile--disabled {
  color: #cccccc;
  cursor: not-allowed;
}

.custom-calendar .react-calendar__navigation__arrow .react-calendar__navigation__prev-button {
  display: none;
}

.custom-calendar .react-calendar__month-view__days .reserved-date {
  background-color: #ced8d5; 
  border-radius: 50%; 
  color: #ffffff;
  position: relative; 
}

 /* 텍스트 스타일은 reserved-date 클래스에서 설정됨 */
.custom-calendar .react-calendar__month-view__days .reserved-date::after {
  background: #0b3b2d;
}