.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.8rem; 
}

.swiper-button-prev,
.swiper-button-next {
  color: #000;
  transition: color 0.3s ease; 
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #555; 
}

.swiper-pagination-bullet {
  background: #ddd; 
  width: 10px;
  height: 10px;
  margin: 0 5px;
  opacity: 1; 
  transition: background 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #000; 
}

.customSwiper {
  --swiper-navigation-size: 25px; 
  --swiper-pagination-bullet-size: 10px; 
  --swiper-navigation-color: #000; 
  --swiper-pagination-color: #fff; 
}
